Thumbs.db
*.suo
*.csproj.user
/bin/Debug
/bin/Release/AnyCPU
/bin/Release/x64
/bin/Release/x86
/bin/Release/Benchmark/AnyCPU
/bin/Release/Benchmark/x64
/bin/Release/Benchmark/x86/benchmark_run_*
/bin/Release/Benchmark/x86/profiling_trace.atp
/src/*/obj
/src/*/bin
/src/TestResults
/res
